.NavBar {
  text-align: center;
}

.Filter {
  float: right;
  height: 100%;
  width: 30%;
}

.View {
  display: flex;
}

.Films {
  margin: auto;
  width: 50%;
}
.container-films {
  flex-grow: 1;
}

.App-intro {
  font-size: large;
}
